body {
    margin: 0;
}


header {
    background-color: #0C2C43;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border: 1px solid black;
    
}

header .logo img {
    width: 7%;
    margin-left: 40px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin-left: 200px;
    
    
}

.menu li {
    margin: 20px;
    list-style: none;
}
.menu li a  {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.menu li a:hover {
    color: #80A470;
}

#acceuil {
    background-image: url("BTS-Solutions/hero-1_9_11zon.webp");
    border: 1px solid black;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

#acceuil .slogan {
    height: 350px;
    width: 55%;
    margin-left: 30px;
    margin-top: 100px;
    background-color: #0c2c435e;
    padding-left: 50px;
    padding-top: 5px; 
} 

.btp {
    color: #ffffff;
    margin-top: 50px;
    margin-top: 50px;
}

.btp  h1 {
    font-size: 35px;   
}

.btp h3 {
    margin-top: 20px;
}

.click {
    background-color: #0C2C43;
    border: none;
    height: 50px; 
    width: 30%;  
    border-radius: 8px;
    color: white;
    margin-top: 50px; 
    cursor: pointer;
    font-size: 15px;
       
}


#services h1 {
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid #54816D;
    color: #0C2C43;
    line-height: 50px;
}

.service {
    display: flex;
    justify-content: space-evenly;
}

.service .tache {
    height: 450px;
    border: 1px solid #8C9CA4;
    width: 25%;
    border-radius: 10px;
    margin-top: 60px;
    
}

.service .tache img {
    width: 90%;
    margin-left: 17px;
}

.service .tache h3 {
    text-align: center;
    margin-top: 10px;
    color: #0C2C43;
}

.service .tache p {
    font-size: 17px;
    margin-left: 28px;
    width: 90%;
    margin-top: 15px;
    color: #0C2C43;
}

#apropos {
    height: 550px;
}

#apropos h1 {
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid #54816D;
    color: #0C2C43;
    line-height: 50px;
}



.nous {
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
    padding-top: 30px;
    
}

.nous img{
    width: 80%;
    border-radius: 30px;
    margin-top: 30px;
}

.nous .right {
    width: 150%;
    margin-right: 100px; 
    margin-bottom: 200px;
}

.nous .right p {
    font-size: 25px;
    line-height: 40px;
}



#parole h1 {
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid #54816D;
    color: #0C2C43;
    line-height: 50px;
}


#parole .container {
    display: flex;
    justify-content: space-evenly;
}

#parole .client {
    border: 1px solid #8C9CA4;
    width: 30%;
    margin-top: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client img {
  
   margin-top: 10px;
   width: 40%;

  
} 

.client h3 {
    text-align: center;
    color: #0C2C43; 
}

.client p {
    font-size: 20px;
    width: 90%;
    color: #0C2C43;
}


#contact h1 {
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid #54816D;
    color: #0C2C43;
    line-height: 50px;
}

#contact .left {
    height: 500px;
    width: 25%;
    margin-right: 250px;
}


.contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

#contact input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #0C2C43;
    margin-top: 5px;
}

#contact label {
    margin-top: 15px;
}

#contact textarea {
    height: 100px;
    margin-top: 5px;
    border: 1px solid #0C2C43;
    border-radius: 5px;
}

#contact .contact .left form ::placeholder {
    padding-left: 5px;
}


#contact button {
    background-color: #0C2C43;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 60px;
    height: 50px;
}

.join {
    height: 80px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-top: 20px;
}


#contact .apl img {
    width: 40%;
    margin-left: 35px; 
}

#contact .right {
    margin-left: 100px;
}






footer  {
    height: 50px;
    background-color: #3D6B63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-top: 80px;
    
}

footer img {
    width: 60%; 
}

footer .left {
    margin-left: 30px;
}

footer .right ul {
    display: flex;
    list-style: none;
}
footer .right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(56.98px - 6.98px);
}


@media only screen and (min-width: 998px)  and (max-width: 1199px) {
    .menu {
        width: 40%;
    }

    #services .tache {
        width: 30%;
    }

    
    #services .tache p {
        font-size: 14px;
    }
}


@media only screen and (min-width: 768px)  and (max-width: 991px) {

    header .logo img {
        width: 50px;
    }
    
    #acceuil .slogan {
        height: 400px;
    }

    #acceuil .click  {
        width: 40%;
    }

    .service {
        flex-direction: column;
    }

    #services .tache {
        width: 45%;
        margin: auto;
        height: 450px;
        margin-top: 40px;
    }

    #services .tache img {
        width: 80%;
        margin-left: 10%;
    }

    #apropos {
        margin-top: 0;
        
    }

    #apropos .nous {
        flex-direction: column;
    }
    
    #apropos .right {
        width: 80%;
        margin-top: 20px;
    }

    #parole {
        margin-top: 400px;
    }

    #parole .container {
        flex-direction: column;
        margin: auto;
    }

    #parole .client {
        margin: auto;
        width: 60%;
        margin-top: 40px;
    }
    
    
    
}

@media only screen and (max-width: 767px) {

    header .logo img {
        margin-left: 0;
    }
    .menu {
        display: none;
    }

    #acceuil .slogan {
        /* height: 400px; */
        margin: auto;
        height: 70%;
        margin-top: 100px;
        text-align: center;
        padding-right: 60px;
    }

    #acceuil .click {
        width: 50%;
    }


    .service {
        flex-direction: column;
    }

    #services .tache {
        width: 50%;
        margin: auto;
        height: 400px;
        margin-top: 40px;
        padding-bottom: 20px;
    }

    #services .tache img {
        width: 80%;
        margin-left: 10%;
    }

    #apropos {
        margin-top: 0;
        
    }

    #apropos .nous {
        flex-direction: column;
    }
    
    #apropos .right {
        width: 80%;
        margin-top: 20px;
    }

    #parole {
        margin-top: 400px;
    }
    #parole .container {
        flex-direction: column;
        margin: auto;
    }

    #parole .client {
        margin: auto;
        width: 60%;
        margin-top: 40px;
    }

    #contact .contact {
        justify-content: center;
        align-items: center;
    }
    

    .contact {
        flex-direction: column;
    }

    #contact .contact .left {
        width: 40%;
    }

    #contact .contact .right {
        margin-top: 50px;
        width: 50%;
        margin-left: 60px;
    }

    #contact form {
        width: 300px;
    }
    
    .contact input {
        width: 15;
    }

    iframe {
        height: 300px;
        width: 90%;
    }

    footer {
        margin-top: 250px;
        
    }
    
    

    

   #contact .join {
        flex-direction: column;
   }

   header .menu {
    display: none;
    
}
header {
    padding: 0 20px;
}
 .toggle_menu {
    display: flex;
    height: 40px;
    width: 40px;
   align-items: center;
   justify-content: center;
   position: relative;
   cursor: pointer;
   margin-right: 50px;

}
.toggle_menu::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 28px;
    background-color: #3D6B63;
    border-radius: 6px;
    box-shadow: 0 10px 0 #3D6B63;
    transform: translateY(-10px);
    transition: 0.5s;

}
.toggle_menu.active::before{
    transform: translateY(0) rotate(135deg);
    box-shadow: 0 0 0 #3D6B63;
}
  .toggle_menu::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 28px;
    background-color: #3D6B63;
    border-radius: 6px;
    transform: translateY(10px);
    transition: 0.5s;

}
.toggle_menu.active::after {
    transform: translateY(0) rotate(-135deg);
    
}
header .menu.responsive {
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C2C43;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    padding-right: 40px;
    
}
header .menu.responsive li {
    margin-left: 70px;
}
   

}

@media (max-width:500px) {
    header .logo img {
        width: 10%;
        margin-left: 0;
    }
    #acceuil .slogan h1 {
        font-size: 23px;
    }

    #acceuil .slogan {
        height: 50%;
    }

    #acceuil .slogan h3 {
        font-size: 15px;
    }

    #acceuil .click {
        width: 60%;
    }

    #services .tache {
        width: 70%;
        padding-right: 10px;
    }


    #apropos .right p {
        font-size: 18px;
    }

    #parole {
        margin-top: 300px;
    }

    #parole .client p {
        font-size: 16px;
    }


    #contact .join  {
        flex-direction: column;
        margin-left: 140px;
        margin-top: 40px;
    }

    #contact .left {
        margin-right: 110px;
    }

    #contact .right iframe {
        width: 350px;
        /* margin-right: 30px; */
        margin-left: 20px;
    }

    #contact .right {
        margin-right: 220px;
    }


    
    #contact form {
        width: 300px;
    }

    footer p {
        font-size: 13px;
    }

    footer img {
        width: 40%;
        margin: 2px;
    }

    footer .right ul {
        flex-direction: column;
    }

    footer {
        bottom: 0;
        flex-direction: column;
        height: 120px;
    }

    footer .left p {
        font-size: 20px;
        margin-right: 40px;
    }

        
}

